* {
  font-family: 'Rubik', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: rgb(0, 0, 0);
  min-width: 100vw;
}

.hero-section {
  background-color: rgb(31, 31, 31);
  padding-top: 25vh;
  min-height: 100vh;
  margin: auto;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.btn-dark {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 192, 22);
}